    <!-- Breadcrumb-->
    <div class="breadcrumb-holder">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
          <li class="breadcrumb-item active">Đăng bài </li>
        </ul>
      </div>
    </div>
    <section class="editor">
      <div class="container-fluid">
        <!-- Page Header-->
        <div id="editor">
          <p>Hello World!</p>
          <p>Some initial <strong>bold</strong> text</p>
        </div>

        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <!-- Initialize Quill editor -->
        <script>
          var quill = new Quill('#editor', {
            theme: 'snow'
          });
        </script>
        <div style="display:flex;justify-content:end">
          <button class="btn btn-success text-center" id="post">Đăng bài</button>
        </div>
      </div>
    </section>
    <script>
      $(document).ready(()=> {
        $('#post').click(() => {
          console.log(quill.getContents())
        })
      })
    </script>

    </html>