<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Báo Điện Tử TH-2016</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/vendors/linericon/style.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
	<link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="/vendors/animate-css/animate.css">
	<link rel="stylesheet" href="/vendors/jquery-ui/jquery-ui.css">
	<!-- main css -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

    {{{body}}}

    <!--================ start footer Area  =================-->
	<footer class="footer-area">
		<div class="container">
			<div class="row f_widgets_inner">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget ab_widgets">
						<!-- <img src="img/footer-logo.png" alt="">  -->
						<p>Báo mạng điện tử hấp dẫn với đông đảo đối tượng bởi sự tác động vào nhiều giác quan. Chúng ta
							có thể vừa đọc, vừa nghe, vừa xem clip kèm theo bài báo. Điều này là lí do khiến cho rất
							nhiều người tìm đến báo điện tử mỗi khi cần tìm kiếm thông tin.Có khả năng lưu trữ thông tin
							là điều dễ dàng nhận thấy đối với loại hình này.Thông tin dù
							là cũ hay mới thì cũng được lưu giữ lại trên báo điện tử. Bởi vậy người đọc muốn tra cứu,
							tìm hiểu về sự kiện, tin tức đã xảy ra rất lâu là điều hoàn toàn có thể thực hiện bằng các
							thao tác đơn giản. Đây là đặc điểm mà báo phát thanh và báo truyền hình không làm được.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="f_title">
							<h3>Đường dẫn nhanh</h3>
						</div>
						<div class="row">
							<div class="col-6">
								<ul class="list">
									<li><a href="#">Sơ đồ website</a></li>
									<li><a href="#">Các chuyên mục</a></li>
									<li><a href="#">Lưu trữ</a></li>
									<li><a href="#">Quảng cáo</a></li>

								</ul>
							</div>
							<div class="col-6">
								<ul class="list">
									<li><a href="#">Chính sách bảo mật</a></li>
									<li><a href="#">Điều khoản sử dụng</a></li>
									<li><a href="#">Trung tâm hỗ trợ</a></li>
									<li><a href="#">Phản hồi</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget m_news_widgets">
						<div class="f_title">
							<h3>Bài viết được xem nhiều nhất</h3>
						</div>
						<div class="m_news">
							<div class="media">
								<div class="d-flex">
									<img src="img/product/product-13.jpg" alt="">
								</div>
								<div class="media-body">
									<a href="#">
										<h5>Con cá mập Apple đã bắt đầu lân la vào "bể máu" của Samsung và Xiaomi</h5>
									</a>
									<div class="date">
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
							<div class="media">
								<div class="d-flex">
									<img src="img/product/product-14.jpg" alt="">
								</div>
								<div class="media-body">
									<a href="#">
										<h5>Cảnh báo: Tuyệt đối không sử dụng trình duyệt Chrome trên iPhone vì có thể
											bị đánh cắp tiền từ tài khoản</h5>
									</a>
									<div class="date">
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer-bottom d-flex justify-content-between align-items-center">
				<div class="col-lg-12">
					<div class="f_boder"></div>
				</div>
				<p class="col-lg-8 col-md-8 footer-text m-0">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
					made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
						target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
				<div class="col-lg-4 col-md-4 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-youtube-play"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					<a href="#"><i class="fa fa-rss"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/vendors/lightbox/simpleLightbox.min.js"></script>
	<script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="/vendors/isotope/isotope-min.js"></script>
	<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/vendors/jquery-ui/jquery-ui.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/mail-script.js"></script>
	<script src="/js/theme.js"></script>
</body>
</html>