
	<!--================Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="banner_content text-center">
								<div class="date">
									<a class="gad_btn" href="#">Thời trang</a>
									<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4, 2019</a>
									<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
								</div>
								<h3>Chào Hè tươi mát với trang phục họa tiết hoa quả nhiệt đới</h3>
								</p>
							</div>
						</div>
						<div class="carousel-item">
							<div class="banner_content text-center">
								<div class="date">
									<a class="gad_btn" href="#">Du lịch</a>
									<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4, 2019</a>
									<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
								</div>
								<h3>8 điểm đến gần Hà Nội và dễ đi trong dịp 30/4</h3>

							</div>
						</div>
						<div class="carousel-item">
							<div class="banner_content text-center">
								<div class="date">
									<a class="gad_btn" href="#">Tâm sự và cuộc sống</a>
									<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4, 2019</a>
									<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
								</div>
								<h3>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h3>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Choice Area =================-->
	<section class="choice_area p_120">
		<div class="container">
			<div class="main_title2">
				<h2>Bài viết nổi bật</h2>
			</div>
			<div class="row choice_inner">
				<div class="col-lg-3 col-md-6">
					<div class="choice_item">
						<img class="img-fluid" src="img/blog/choice/choice-1.jpg" alt=""
							style="width:300px;height:200px">
						<div class="choice_text">
							<div class="date">
								<a class="gad_btn" href="#">Thời trang</a>
								<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4, 2019</a>
								<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
							</div>
							<a href="news-details.html">
								<h4>Chào Hè tươi mát với trang phục họa tiết hoa quả nhiệt đới</h4>
							</a>
							<p>
								Những họa tiết hoa quả phổ biến nhất trong thời trang Hè như họa tiết quả chanh, quả
								cherry hay...
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="choice_item">
						<img class="img-fluid" src="img/blog/choice/choice-2.jpg" alt="">
						<div class="choice_text">
							<div class="date">
								<a class="gad_btn" href="#">Du lịch</a>
								<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
									2019</a>
								<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
							</div>
							<a href="news-details.html">
								<h4>8 điểm đến gần Hà Nội và dễ đi trong dịp 30/4</h4>
							</a>
							<p>Chỉ mất từ một tới hai tiếng chạy xe, du khách có thể chọn cho mình những chuyến
								picnic ngắn ngày, hòa mình cùng thiên nhiên trong dịp nghỉ lễ.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="choice_item">
						<img class="img-fluid" src="img/blog/choice/choice-3.jpg" alt="">
						<div class="choice_text">
							<div class="date">
								<a class="gad_btn" href="#">Tâm sự và cuộc sống</a>
								<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
									2019</a>
								<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
							</div>
							<a href="news-details.html">
								<h4>Sống không phải đơn thuần là tồn tại, hãy tận hưởng cuộc sống theo cách
									thực sự ý nghĩa</h4>
							</a>
							<p>Cuộc sống giống như một chuyến đi không có bản đồ. Trong suốt hành trình của
								cuộc đời, ai trong số chúng ta cũng sẽ dừng chân ở nhiều địa điểm khác
								nhau,...</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="choice_item">
						<img class="img-fluid" src="img/blog/choice/choice-4.jpg" alt="">
						<div class="choice_text">
							<div class="date">
								<a class="gad_btn" href="#">Sức khỏe</a>
								<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4, 2019</a>
								<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
							</div>
							<a href="news-details.html">
								<h4>Đoán bệnh từ những cơn đau đầu</h4>
							</a>
							<p>Có 70 nhóm nguyên nhân gây đau đầu, trong đó nguyên nhân thường gặp là do stress,
								u não chèn ép, nhiễm... </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Choice Area =================-->

	<!--================News Area =================-->
	<section class="news_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="main_title2">
						<h2>Bài viết mới nhất</h2>
					</div>
					<div class="latest_news">
						<div class="media">
							<div class="d-flex">
								<img class="img-fluid" src="img/my/p1.jpg" alt="" style="width:300px;height:200px">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<div class="date">
										<a class="gad_btn" href="#">Thời trang</a>
										<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
									<a href="news-details.html">
										<h4>Chào Hè tươi mát với trang phục họa tiết hoa quả nhiệt đới</h4>
									</a>
									<p>
										Những họa tiết hoa quả phổ biến nhất trong thời trang Hè như họa tiết quả chanh,
										quả cherry hay...
									</p>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img class="img-fluid" src="img/blog/l-news/l-news-2.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<div class="date">
										<a class="gad_btn" href="#">Du lịch</a>
										<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
									<a href="news-details.html">
										<h4>8 điểm đến gần Hà Nội và dễ đi trong dịp 30/4</h4>
									</a>
									<p>Chỉ mất từ một tới hai tiếng chạy xe, du khách có thể chọn cho mình những chuyến
										picnic ngắn ngày, hòa mình cùng thiên nhiên trong dịp nghỉ lễ.</p>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img class="img-fluid" src="img/blog/l-news/l-news-3.jpg" alt=""
									style="width:300px;height:200px">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
									<a href="news-details.html">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có </h4>
									</a>
									<p>Vẫn nghĩ Steve Jobs là CEO tuyệt nhất của Táo Khuyết? Hãy nghĩ lại: Tim Cooks
										giúp Apple hoàn thiện ở mọi mặt. Steve Jobs phù hợp với người làm cách mạng hơn
										là CEO.
									</p>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img class="img-fluid" src="img/blog/l-news/l-news-4.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<div class="date">
										<a class="gad_btn" href="#">Sức khỏe</a>
										<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
									<a href="news-details.html">
										<h4>Đoán bệnh từ những cơn đau đầu</h4>
									</a>
									<p>Có 70 nhóm nguyên nhân gây đau đầu, trong đó nguyên nhân thường gặp là do stress,
										u não chèn ép, nhiễm... </p>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img class="img-fluid" src="img/blog/choice/choice-3.jpg" alt=""
									style="width:300px;height:200px">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<div class="date">
										<a class="gad_btn" href="#">Tâm sự và cuộc sống</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
									<a href="news-details.html">
										<h4>Sống không phải đơn thuần là tồn tại, hãy tận hưởng cuộc sống theo cách
											thực sự ý nghĩa</h4>
									</a>
									<p>Cuộc sống giống như một chuyến đi không có bản đồ. Trong suốt hành trình của
										cuộc đời, ai trong số chúng ta cũng sẽ dừng chân ở nhiều địa điểm khác
										nhau,...</p>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img class="img-fluid" src="img/blog/l-news/I-news-5.jpg" alt=""
									style="width:300px;height:200px">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<div class="date">
										<a class="gad_btn" href="#">Thể thao</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
									<a href="news-details.html">
										<h4>Việt Nam được đôn lên Nhóm 3 ở SEA Games 2019</h4>
									</a>
									<p>Sau kiến nghị của VFF, Việt Nam đã được điều chỉnh nhóm hạt giống ở môn bóng đá
										nam diễn ra tại Philippines...</p>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				<div class="col-lg-4">
					<div class="right_sidebar">
						<aside class="r_widgets news_widgets">
							<div class="main_title2">
								<h2>Bài viết được xem nhiều nhất</h2>
							</div>
							<div class="choice_item">
								<img class="img-fluid" src="img/blog/popular-post/pp-1.jpg" alt="">
								<div class="choice_text">
									<div class="date">
										<a class="gad_btn" href="#">Tâm sự và cuộc sống</a>
										<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
									<a href="news-details.html">
										<h4>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h4>
									</a>
									<p>Cuộc sống giống như một chuyến đi không có bản đồ. Trong suốt hành trình của
										cuộc
										đời, ai trong số chúng ta cũng sẽ dừng chân ở nhiều địa điểm khác nhau,...
									</p>
								</div>
							</div>
							<div class="news_slider owl-carousel">
								<div class="item">
									<div class="choice_item">
										<img src="img/blog/popular-post/pp-2.jpg" alt="">
										<div class="choice_text">
											<a href="news-details.html">
												<h4>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h4>
											</a>
											<div class="date">
												<!-- <a class="gad_btn" href="#">Gadgets</a> -->
												<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20
													tháng 4,
													2019</a>
												<a href="#"><i class="fa fa-comments-o"
														aria-hidden="true"></i>05</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="choice_item">
										<img src="img/blog/popular-post/pp-3.jpg" alt="">
										<div class="choice_text">
											<a href="news-details.html">
												<h4>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h4>
											</a>
											<div class="date">
												<!-- <a class="gad_btn" href="#">Gadgets</a> -->
												<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20
													tháng 4,
													2019</a>
												<a href="#"><i class="fa fa-comments-o"
														aria-hidden="true"></i>05</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="choice_item">
										<img src="img/blog/popular-post/pp-2.jpg" alt="">
										<div class="choice_text">
											<a href="news-details.html">
												<h4>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h4>
											</a>
											<div class="date">
												<!-- <a class="gad_btn" href="#">Gadgets</a> -->
												<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20
													tháng 4,
													2019</a>
												<a href="#"><i class="fa fa-comments-o"
														aria-hidden="true"></i>05</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="choice_item">
										<img src="img/blog/popular-post/pp-3.jpg" alt="">
										<div class="choice_text">
											<a href="news-details.html">
												<h4>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h4>
											</a>
											<div class="date">
												<!-- <a class="gad_btn" href="#">Gadgets</a> -->
												<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20
													tháng 4,
													2019</a>
												<a href="#"><i class="fa fa-comments-o"
														aria-hidden="true"></i>05</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="choice_item">
										<img src="img/blog/popular-post/pp-2.jpg" alt="">
										<div class="choice_text">
											<a href="news-details.html">
												<h4>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h4>
											</a>
											<div class="date">
												<!-- <a class="gad_btn" href="#">Gadgets</a> -->
												<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20
													tháng 4,
													2019</a>
												<a href="#"><i class="fa fa-comments-o"
														aria-hidden="true"></i>05</a>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="choice_item">
										<img src="img/blog/popular-post/pp-3.jpg" alt="">
										<div class="choice_text">
											<a href="news-details.html">
												<h4>9 cách tận hưởng cuộc sống theo cách thực sự ý nghĩa</h4>
											</a>
											<div class="date">
												<!-- <a class="gad_btn" href="#">Gadgets</a> -->
												<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20
													tháng 4,
													2019</a>
												<a href="#"><i class="fa fa-comments-o"
														aria-hidden="true"></i>05</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</aside>
						<!-- <aside class="r_widgets add_widgets text-center">
											<img class="img-fluid" src="img/blog/add-1.jpg" alt="">
										</aside> -->
						<aside class="r_widgets social_widgets">
							<div class="main_title2">
								<h2>Mạng xã hội</h2>
							</div>
							<ul class="list">
								<li><a href="#"><i class="fa fa-facebook"></i> 983Likes <span>Like our
											page</span></a>
								</li>
								<li><a href="#"><i class="fa fa-twitter"></i> 983Followers <span>Follow
											Us</span></a>
								</li>
								<li><a href="#"><i class="fa fa-youtube-play"></i> 9835Subscriber
										<span>Subscribe</span></a></li>
								<li><a href="#"><i class="fa fa-vimeo"></i> 59874Subscriber
										<span>Subscribe</span></a>
								</li>
								<li><a href="#"><i class="fa fa-pinterest"></i> 36958Followers <span>Follow
											Us</span></a></li>
								<li><a href="#"><i class="fa fa-rss"></i>RSS Subscribe <span>Subscribe</span></a>
								</li>
							</ul>
						</aside>
						<aside class="r_widgets newsleter_widgets">
							<div class="main_title2">
								<h2>Bản tin</h2>
							</div>
							<div class="nsl_inner">
								<i class="fa fa-envelope"></i>
								<h4>Theo dõi bản tin của chúng tôi</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua adipisicing</p>
								<div class="form-group d-flex flex-row">
									<div class="input-group">
										<input type="text" class="form-control" id="inlineFormInputGroup"
											placeholder="Enter your email address" onfocus="this.placeholder = ''"
											onblur="this.placeholder = 'Enter email'">
									</div>
									<a href="#" class="bbtns">Subcribe</a>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
	</section>
	<!--================End News Area =================-->

	<!--================Product List Area =================-->
	<section class="product_list_area p_100">
		<div class="container">
			<div class="row product_list_inner">
				<div class="col-lg-4">
					<div class="main_title2">
						<h2>Top chuyên mục</h2>
					</div>
					<div class="product_list">
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-1.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-2.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-3.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-4.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="main_title2">
						<h2>Top chuyên mục</h2>
					</div>
					<div class="product_list">
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-5.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-6.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-7.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-8.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="main_title2">
						<h2>Top chuyên mục</h2>
					</div>
					<div class="product_list">
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-9.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-10.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-11.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<img src="img/product/product-12.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="choice_text">
									<a href="#">
										<h4>Không phải Steve Jobs, Tim Cook mới là CEO tốt nhất Apple từng có</h4>
									</a>
									<div class="date">
										<a class="gad_btn" href="#">Công nghệ</a>
										<br><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>20 tháng 4,
											2019</a>
										<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product List Area =================-->
</body>

</html>