<form method="POST" class="container margin-top-170 mb-5 bg-light rounded shadow-lg p-5">
    {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{err_message}}
    </div>
    {{/if}}
    <div class="form-group mt-3">
        <h2 class="text-uppercase text-center text-primary">Đăng nhập</h2>
    </div>
    <div class="form-group">
        <label for="txtusername" class="text-dark">
            <h4 class="font-weight-light">Tên đăng nhập</h4>
        </label>
        <input name="username" type="text" class="form-control" id="txtusername" placeholder="Nhập tên đăng nhập"
            required>
    </div>
    <div class="form-group">
        <label for="password" class="text-dark">
            <h4 class="font-weight-light">Mật khẩu</h4>
        </label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block">
            <i class="fa fa-check" aria-hidden="true"></i>
            Đăng nhập
        </button>
    </div>
    <div class="form-group">
        <a href="#">
            <h5 class="font-weight-light">Quên mật khẩu?</h5>
        </a>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block">
            <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
            &nbsp;
            Đăng nhập bằng Facebook
        </button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-danger btn-block">
            <i class="fa fa-lg fa-google" aria-hidden="true"></i>
            &nbsp;
            Đăng nhập bằng Google
        </button>
    </div>
</form>