    <body class="background1">
        <div class="div_border">
            <div class="title_head">Đăng nhập tài khoản</div>
            <form>
                <div class="div_distance">
                    <label class="label1">Tên đăng nhập/Email
                        <input class="border_input" type="text" id="name" name="username_email"
                            placeholder="Nhập tên đăng nhập hoặc email">
                    </label>
                </div>
                <div class="div_distance">
                    <label class="label1">Mật khẩu
                        <input class="border_input" type="password" id="pass" name="password"
                            placeholder="Từ 8 đến 32 ký tự">
                    </label>
                </div>
                <div class="div_distance">
                    <a href="forgot_password.html">Quên mật khẩu?</a>
                </div>
                <div class="div_button">
                    <a href="index.html">
                        <input class="button1" type="button" name="cancel" value="Hủy bỏ">
                    </a>
                    <input class="button1" type="submit" name="login" value="Đăng nhập">
                </div>
            </form>
        </div>

        <div class="div_social">
            <a class="btn-facebook btn-social" title="Đăng nhập bằng Facebook" href="javascript: void(0)" data-url="#">
                <i class="fa fa-facebook"></i>
                <span>Đăng nhập bằng Facebook</span>
            </a>
        </div>
        <div class="div_social">
            <a class="btn-google" title="Đăng nhập bằng Google" href="javascript: void(0)" data-url="#">
                <i class="fa fa-google"></i>
                <span>Đăng nhập bằng Google</span>
            </a>
        </div>
        </div>
    </body>