<section>
    <div class="container-fluid" style="margin-top:20px">
<h3 style="text-align:center">Lỗi: Hạ đẳng</h3>
<h1 style="text-align:center">Bạn phải là thành viên Premium mới có thể xem được bài viết !</h1>
{{#if _user}}

 {{else}}
 <h3 style="text-align:center">Trở nên thượng đẳng <a href="/user/login">Tại đây</a></h3>
 {{/if}}
 </div>
</section>