<form class="container margin-top-170 mb-5 bg-light rounded shadow-lg p-5" enctype="multipart/form-data" method="POST">
    <div class="form-group mt-3">
        <h2 class="text-uppercase text-center text-primary">Đăng kí tài khoản</h2>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label class="text-dark" for="avatar">
                <h4 class="font-weight-light">Chọn ảnh đại diện</h4>
            </label>
            <input type="file" class="btn" id="avatar" name="file" required="true">
        </div>
    </div>
    
    </div>
    <div class="form-group">
        <label for="txtname" class="text-dark">
            <h4 class="font-weight-light">Họ và tên</h4>
        </label>
        <input name="name" type="text" class="form-control" id="txtname" placeholder="Nhập họ tên"
            pattern="[A-Za-z].{4,}" autofocus title="Họ tên của bạn không được chứa số  và có ít nhất 4 ký tự trở lên">
    </div>
    <div class="form-group">
        <label for="date" class="text-dark">
            <h4 class="font-weight-light">Ngày sinh</h4>
        </label>
        <input name="birth" type="date" class="form-control" id="date">
    </div>

    <div class="form-group">
        <label for="sex-male" class="text-dark">
            <h4 class="font-weight-light mr-5">Giới tính</h4>
        </label>
        <div class="form-check form-check-inline mr-3">
            <input name="sex" type="radio" value="Nam" id="sex-male">
            <label for="sex-male">
                <h5 class="font-weight-light text-dark">Nam</h5>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input name="sex" type="radio" value="Nữ" id="sex-female">
            <label for="sex-female">
                <h5 class="font-weight-light text-dark">Nữ</h5>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input name="sex" type="radio" value="Khác" id="sex-other">
            <label for="sex-other">
                <h5 class="font-weight-light text-dark">Khác</h5>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="number-phone" class="text-dark">
            <h4 class="font-weight-light">Số điện thoại</h4>
        </label>
        <input name="phone" type="text" class="form-control" id="number-phone" placeholder="Nhập số điện thoại"
            title="Bạn không được để trống!">
    </div>

    <div class="form-group">
        <label for="email" class="text-dark">
            <h4 class="font-weight-light">Email</h4>
        </label>
        <span class="text-danger">(*)</span>
        <input name="email" type="email" class="form-control" id="email" placeholder="Nhập email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Định dạng email bạn nhập vào chưa đúng" required>
    </div>

    <div class="form-group">
        <label for="txtusername" class="text-dark">
            <h4 class="font-weight-light">Tên đăng nhập</h4>
        </label>
        <span class="text-danger">(*)</span>
        <input name="username" type="text" class="form-control" id="txtusername" placeholder="Nhập tên đăng nhập"
            pattern="[A-Za-z-0-9].{4,}" title="Tên đăng nhập có thể bao gồm cả số và chữ và có ít nhất 4 ký tự trở lên"
            required>
    </div>

    <div class="form-group">
        <label for="password" class="text-dark">
            <h4 class="font-weight-light">Mật khẩu</h4>
        </label>
        <span class="text-danger">(*)</span>
        <input name="password" type="password" class="form-control" id="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            placeholder="Phải chứa ít nhất một số và một chữ hoa và chữ thường và ít nhất 8 ký tự trở lên"
            title="Phải chứa ít nhất một số và một chữ hoa và chữ thường và ít nhất 8 ký tự trở lên" required>
    </div>

    <div class="form-group">
        <label for="password-again" class="text-dark">
            <h4 class="font-weight-light">Nhập lại mật khẩu</h4>
        </label>
        <input type="password" class="form-control" id="password-again" placeholder="Nhập lại mật khẩu"
            title="Bạn không được để trống!">
    </div>
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LdakKkUAAAAAPrTA0_XxEVjvV31IQAhu7hYff4V"></div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block">
            <i class="fa fa-check" aria-hidden="true"></i>
            Đăng ký
        </button>
    </div>
</form>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    window.onload = function() {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    }
</script>
